scripts/.Xil
scripts/clockInfo.txt

vivado_gui/myproj
vivado_gui/.Xil

petalinux-projects/*
!petalinux-projects/project-spec/

verif/xsim.dir*
verif/design_1
verif/kv260
verif/work
verif/output
verif/xsim.covdb
verif/.Xil

ip/axis_tkeep_handler_2_0/*
ip/event_stream_smart_tracker_2_0/*
ip/ps_host_if_3_0
outputs

.Xil
.vscode
*.str
*.pb
*.jou
*.wdb
*.dcp
*.bin
*.xsa
*.ll
*BOOT.BIN
*image.ub
*boot.scr
*rootfs.tar.gz

